<div class="user">
  <div class="tech">
    <h2><b>Documentation</b></h2>
    <img src="assets/dita-logo.png" alt="DITA" width="177.5" height="64">
    <p>I am familiar with DITA, XML, Markdown, and other single-sourcing/content reuse principles. I have experience documenting software for technical and non-technical audiences.</p>
  </div>
  <div class="tech">
    <h2><b>Code</b></h2>
    <img src="assets/python.png" alt="Python" width="177.5">      
    <p>I am comfortable writing in Python and SQL, and have experience reading and understanding several other programming languages, such as C#, VB.NET, Ruby, and R.</p>
  </div>
  <div class="tech">
    <h2><b>Tools</b></h2>
     <img src="https://www.oxygenxml.com/img/resources/oxygen190x62.png" alt="OxygenXML" width="177.5"> 
    <p>Oxygen XML Editor, Github, Microsoft Office Suite, Google Workspace, Adobe Captivate, MadCap Flare</p>
  </div>
</div>
