<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:jamesfwheaton@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Portfolio" href="https://www.dropbox.com/sh/vep7hqhi48c7m16/AAAYKyXF1p-5qqxhVxyT0nmca?dl=0"><i class="icon fa fa-briefcase" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" href="https://linkedin.com/in/james-wheaton-061114127"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/jamesfwheaton"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
