<div class="user-details">
  <h1>My Experience</h1>
  <p>{{ site.user_description }}</p>
</div>
<div id="resume">
	<h2>Work History</h2>
	<b>Fast Enterprises</b> (August 2019–Present)<br>
	Technical Writer<br>
	<ul>
		<li>Create developer documentation for an integrated software suite that modernizes government agencies</li>
		<li>Track and monitor new development and delegate documentation tasks</li>
		<li>Research new software features and configuration details through early builds and developer/SME interviews</li>
		<li>Review, document, and release service pack updates for the software</li>
		<li>Compile and document new product features in release notes</li>
		<li>Devise and enforce documentation standards for an internal code repository and version control system</li>
		<li>Perform UX reviews with developers across multiple areas of the software and assist with UX writing</li>
		<li>Facilitate recurring remote new hire orientations and develop comprehensive technical training materials for new hires</li>
		<li>Build developer-oriented, computer-based training modules in Adobe Captivate</li>
		<li>Oversee domestic and international software escrow for over 80 clients</li>
	</ul>
	<b>Fast Enterprises</b> (May 2014–August 2014)<br>
	Technical Writing Intern<br>
	<ul>
		<li>Maintained company standards on published documentation, adhering to Fast Enterprises’ style guidelines</li>
		<li>Contributed to software requirement specification documents for a data and voice usage portal</li>
	</ul>
	<h2>Education</h2>
	<b>Carnegie Mellon University</b> (September 2015–May 2019)<br>
	B.S. in Technical Writing and Communication<br><br>
</div>
